.header {
  background-color: #ffffff;
  padding: 20px 30px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 100px;
  width: 100px;
}

.title {
  font-size: 24px;
  color: black;
  margin: 0;
  font-weight: bold;
}
